<header class="flex justify-between items-center p-2 shadow bg-gray-100">
	<div class="">
		<%= image_tag "logo.svg", size: 50 %>
	</div>
<div class="">
	<i class='material-icons'>info_outline</i>
	<i class='material-icons'>bug_report</i>
</div>
</header>
<% if action_name == "show"  %>
	<div class="progress-container sticky top-0 w-full mb-3">
			<div class="progress-bar w-full" id="myBar"></div>
	</div>
<% end %>
